<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Book Store</title>
</head>

<body>

<div class="container">

  <h3>Book Store</h3>
  <hr>

  <p class="h4 md-4">Save Book</p>

  <form action="#" th:action="@{/books/save}"
        th:object="${book}" method="POST">
    <!-- Add hidden frm field to handle the update -->
    <input type="hidden" th:field="*{id}">

    <p>Title:
      <input type="text" th:field="*{title}" placeholder="Title"
             class="form-control mb-4 w-25">
    </p>

    <p>ISBN:
      <input type="text" th:field="*{isbn}" placeholder="ISBN"
             class="form-control mb-4 w-25">
    </p>

    <p>Language:
      <select class="form-control mb-4 w-25" name="selectedLanguage">
        <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
      </select>
    </p>

    <p>Page number:
      <input type="text" th:field="*{numPage}" placeholder="Page number"
             class="form-control mb-4 w-25">
    </p>

    <p>Publication Date:
      <input type="date" th:field="*{publicationDate}" placeholder="Publication Date"
             class="form-control mb-4 w-25">
    </p>

    <p>Author:
      <input type="text" th:field="*{author}" placeholder="Author"
             class="form-control mb-4 w-25">
    </p>

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>
  <a th:href="@{/books/list}">Back to Book List</a>

</div>

</body>

</html>